.header{
  padding: 15px;
}
.disable_process{
  pointer-events: none;
}
.disable_enrich{
  pointer-events: none;
}
a{
  text-decoration:none;
  color:#808080;
}

.errorlist li{
  color: black;
}

#step-one{
  border-left: 1px solid #F0F0F0;
}

#one-title{
  border-left:1px solid #F0F0F0;
  padding-left:10px;
}

.glyphicon-save{
  font-size:30px;
}

body{
  background-color:#FFFFFF;
}
li{
  color:#C0C0C0;
  list-style-type: none;
}
label{
  color:black;
  font-weight:normal;
  font:"Helvetica Neue", Helvetica, Arial, sans-serif;
}
ul
{
  list-style-type: none;
}
.jumbotron{
  background-color:#F8F8F8;
}

.jumbotron p{
  color:#C0C0C0;
}

#front-jumb{
  /*background-color:#F8F8F8;*/
  background-image:url("http://sligoschneider.files.wordpress.com/2012/06/imag0503.jpg");
}

#front-jumb p{
  color:#F6F6F6;
}
#upld-box{
  padding:10px;
  border-radius: 10px;
  background-color:#FFFFFF;
}

.describe{
  background-color:#FFFFFF;
}

/*.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #898989;
  padding: 6px 20px;
  font-weight: 300;
}
*/


/*number input for GO enrichment */
#id_overlay{
  width:80px;
}

.separate{
  padding:10px;
}

.file-present{
  float: right;
  padding-top:10px;
  padding-right:10px;
  color: green;
}
/*from internet for dropdown*/
.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
}
.dropdown a, 
.dropdown a:visited {
    /*color:black;*/
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.dropdown dt a {
    /*background-color:#F8F8F8;*/

    display:block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border:1px solid #ccc;
    width:245px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 #ccc
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
}
.dropdown dd ul {
    /*background-color: #F8F8F8;*/
    border:0;
    /*color:#fff;*/
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:245px;
    list-style:none;
    height: 375px;
    overflow: auto;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}

/*alt drop*/

.dropdown_2 dd, .dropdown_2 dt {
    margin:0px;
    padding:0px;
}
.dropdown_2 ul {
    margin: -1px 0 0 0;
}
.dropdown_2 dd {
    position:relative;
}
.dropdown_2 a, 
.dropdown_2 a:visited {
    /*color:black;*/
    text-decoration:none;
    outline:none;
    font-size: 12px;
}
.dropdown_2 dt a {
    /*background-color:#F8F8F8;*/

    display:block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border:1px solid #ccc;
    width:245px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px 0 #ccc
}
.dropdown_2 dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
}
.dropdown_2 dd ul {
    /*background-color: #F8F8F8;*/
    border:0;
    /*color:#fff;*/
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:245px;
    list-style:none;
    height: 180px;
    overflow: auto;
}
.dropdown_2 span.value {
    display:none;
}
.dropdown_2 dd ul li a {
    padding:5px;
    display:block;
}
.dropdown_2 dd ul li a:hover {
    background-color:#fff;
}
